* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ff0057, #2196f3);
}
h3 {
  position: relative;
  display: flex;
  gap: 10px;
  color: #fff;
  font-size: 8em;
  cursor: pointer;
}
h3 span {
  position: relative;
  filter: blur(5px);
  padding: 0 5px;
  transition: 0.5s;
}
h3 span:hover {
  filter: blur(0px);
  transition: 0s;
}
h3 span i {
  position: absolute;
  inset: 0;
  background: transparent;
}
h3 span:hover i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 16px;
  background-color: #fff;
  box-shadow: 0px 106px #fff, 71px 106px #fff, 71px 0px #fff;
}

h3 span:hover i::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 120px #fff, 57px 120px #fff, 57px 0px #fff;
}
